{% extends "base.html" %}
{% load static %}
{% block title %}О Нас{% endblock title %}
{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-12 d-flex">
            <a href="/" style="text-decoration: none; color:black;" class="fw-semibold fs-6">Главная</a>
            <p class="mx-2 fw-semibold fs-6"> - </p>
            <p style="color: #001D78;" class="fw-semibold fs-6">О нас</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold text-black">О нас</h1>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="{% static 'media/icons/piston.svg' %}" alt="Поршень" style="height: 50px; width: 50px;">
            <p class="fw-semibold mt-2">Мы обеспечиваем высокое качество всех выполняемых работ и предоставляем гарантии на услуги. Наши мастера строго соблюдают стандарты, чтобы каждый клиент был уверен в надежности своего грузового автомобиля.</p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="{% static 'media/icons/stopwatch.svg' %}" alt="Секундомер" style="height: 50px; width: 50px;">
            <p class="fw-semibold mt-2">Понимая важность времени для вашего бизнеса, мы работаем максимально быстро, не жертвуя качеством. Наша цель – сократить время простоя техники, чтобы вы могли вернуться на дорогу как можно скорее.</p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="{% static 'media/icons/truck.svg' %}" alt="Грузовик" style="height: 50px; width: 50px;">
            <p class="fw-semibold mt-2">Наш автосервис оснащен современным оборудованием, что позволяет проводить диагностику и ремонт с высокой точностью. Это позволяет нам работать даже с самыми сложными задачами и предлагать широкий спектр услуг для грузового транспорта.</p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="{% static 'media/icons/gear.svg' %}" alt="Шестерня" style="height: 50px; width: 50px;">
            <p class="fw-semibold mt-2">Мы всегда предлагаем оптимальные решения под ваш запрос и бюджет. Наши специалисты подробно объяснят каждую деталь ремонта, чтобы вы понимали, за что платите и были уверены в оправданности вложений.</p>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold text-black">Галерея</h1>
        </div>
    </div>
    <div class="row mt-3">
        {% for photo in photos %}
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <img src="{{ photo.image.url }}" alt="" style="object-fit: cover; cursor: pointer;" 
                 class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#photoModal{{ forloop.counter }}">
        </div>
        <div class="modal fade" id="photoModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <img src="{{ photo.image.url }}" alt="" class="img-fluid w-100">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-5 pb-5">
    <div class="row mt-3">
        <div class="col-12">
            <h1 class="fw-bold">КАК НАС НАЙТИ?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 50vh;">
            <iframe src="https://yandex.com/map-widget/v1/?from=mapframe&ll=35.834758%2C56.815627&mode=search&oid=230496914041&ol=biz&z=16" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
</div>
{% endblock content %}