{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-12 d-flex">
            <a href="/" style="text-decoration: none; color:black;" class="fw-semibold fs-6">Главная</a>
            <p class="mx-2 fw-semibold fs-6"> - </p>
            <p style="color: #001D78;" class="fw-semibold fs-6">Блог</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold text-black">Блог</h1>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-12 py-4 px-4 bg-white mb-3">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <img src="{{ blog.images.first.image.url }}" alt="{{ blog.title }}">
                </div>
                <div class="col-12 col-lg-8">
                    <p>{{ blog.title }}</p>
                    <p>{{ blog.content|truncatewords:50 }}</p>
                    <a href="{{ blog.slug }}" class="btn btn-primary px-5">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-5 pb-5">
    <div class="row mt-3">
        <div class="col-12">
            <h1 class="fw-bold">КАК НАС НАЙТИ?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 50vh;">
            <a href="https://yandex.com/maps/org/d_trans_servis/230496914041/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Д-Транс Сервис</a><a href="https://yandex.com/maps/10819/tver-oblast/category/car_service_auto_repair/184105246/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Автосервис, автотехцентр в Тверской области</a><a href="https://yandex.com/maps/10819/tver-oblast/category/trucks/184106602/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Грузовые автомобили, грузовая техника в Тверской области</a><iframe src="https://yandex.com/map-widget/v1/?from=mapframe&ll=35.834758%2C56.815627&mode=search&oid=230496914041&ol=biz&z=16" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
</div>
{% endblock content %}