{% extends "base.html" %}
{% load static %}
{% block title %}Услуги{% endblock title %}
{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-12 d-flex">
            <a href="/" style="text-decoration: none; color:black;" class="fw-semibold fs-6">Главная</a>
            <p class="mx-2 fw-semibold fs-6"> - </p>
            <p style="color: #001D78;" class="fw-semibold fs-6">Услуги</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold text-black">Услуги</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3" style="height: fit-content;">
        {% for service in page_obj %}
        <div class="custom-col-5 mb-4">
            <div class="card shadow-sm" style="height: 100%; border: 0;">
                <img src="{{ service.images.first.image.url }}" alt="{{ service.name }}" class="card-img-top" style="height: 200px;"> 
                <div class="card-body justify-content-between">
                    <div class="top">
                        <h5 class="card-title fw-bold">{{ service.name }}</h5>
                        {{ service.description|truncatewords:5|safe }}
                    </div>
                    <div class="bottom">
                        <p class="card-price" style='height: fit-content;'>от <span class="fw-semibold">{{ service.price }}</span> Р</p>
                        <a href="services/{{ service.slug }}" class="btn btn-primary">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-5 pb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold">КАК НАС НАЙТИ?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 50vh;">
            <iframe src="https://yandex.com/map-widget/v1/?from=mapframe&ll=35.834758%2C56.815627&mode=search&oid=230496914041&ol=biz&z=16" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
</div>
{% endblock content %}